{% extends "base.html" %}

{% block title %}My crags – gr8base community{% endblock %}

{% block content %}
    <h1>My crags</h1>

    <p><a href="{% url 'crags:create' %}" role="button">Add a new crag</a></p>

    {% for crag in crags %}
        <article>
            <header>
                <a href="{% url 'crags:detail' crag.pk %}">{{ crag.name }}</a>
                <small>– {{ crag.get_status_display }}</small>
            </header>
            {{ crag.area.name }}
            <footer>
                <a href="{% url 'crags:edit' crag.pk %}">Edit</a>
            </footer>
        </article>
    {% empty %}
        <p>You haven't added any crags yet.</p>
    {% endfor %}
{% endblock %}
