{% extends "base.html" %}


{% block title %}
Dokumentation – Felsen mit Kids
{% endblock %}


{% block content %}


<header>

    <h1>
        Dokumentation
    </h1>

    <ul>
        <li>Das hier ist eine Baustelle.</li>
        <li>Der Entwicklungsstand ist hier nachzuvollziehen: https://github.com/ripertio/felsen-mit-kids</li>
        <li>Dort kann man auch Fehler melden und Verbesserungsvorschläge einbringen. Indem ihr ein Issue erstellt</li>
    </ul>

</header>


<section>

    <h2>
        Daten beitragen
    </h2>

    <p>
        Felsen mit Kids soll langfristig von den Erfahrungen
        seiner Nutzerinnen und Nutzer leben.  In einer späteren Version können registrierte
        Benutzer neue Felsen eintragen, Informationen
        ergänzen und Fotos hochladen.
    </p>

</section>


{% endblock %}