{% extends "base.html" %}


{% block title %}
Documentation – gr8base community
{% endblock %}


{% block content %}


<header>

    <h1>
        Documentation
    </h1>

    <ul>
        <li>This site is a work in progress.</li>
        <li>Follow development at https://github.com/ripertio/felsen-mit-kids</li>
        <li>You can report bugs and suggest improvements by opening an issue there.</li>
    </ul>

</header>


<section>

    <h2>
        Contribute data
    </h2>

    <p>
        gr8base community aims to grow through the experience of its community.
        Registered users can add crags, update information, and upload photos.
    </p>

</section>


{% endblock %}